<div class="container-fluid" *ngIf="movie">
  <div class="card">
    <div class="col-sm-12">

      <div class="text-center">
        <img class="img-fluid pt-2 pb-2" style="max-height: 350px" [src]="movie.getPosterPath()" alt="">
        <dl class="row mb-0">
          <dt class="col-sm-12">
            <h2 class="mb-0">{{movie.original_title}} <br>
              <small class="text-muted">{{movie.tagline}}</small>
            </h2>
          </dt>
        </dl>
      </div>

      <ngb-tabset [justify]="'center'" style="min-height: 60vh">
        <ngb-tab>
          <ng-template ngbTabTitle>Details</ng-template>
          <ng-template ngbTabContent>
            <app-movie-detail [movie]="movie"></app-movie-detail>

          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Cast</ng-template>
          <ng-template ngbTabContent>
            <app-media-cast [cast]="credits.cast"></app-media-cast>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Crew</ng-template>
          <ng-template ngbTabContent>
            <app-media-crew [crew]="credits.crew"></app-media-crew>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Videos</ng-template>
          <ng-template ngbTabContent>
            <app-media-videos [videos]="videos"></app-media-videos>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Reviews</ng-template>
          <ng-template ngbTabContent>
            <app-media-reviews [reviews]="reviews"></app-media-reviews>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Similar Movies</ng-template>
          <ng-template ngbTabContent>
            <app-media-list [movieList]="similarMovies" [showPagination]="false"
                            [title]="'Similar Movies'"></app-media-list>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
